* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.firstSection {
    margin: 0 5%;
}

/* Header Styling */

header {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.logo {
    font-size: 1.5em;
    color: #000;
}

.navigation {
    width: 50%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

nav ul li{
    display: inline-block;
    padding: 0 50px;
}

.travel {
    padding-right: 0;
}

.nav {
    color: #606060;
}

.bigPicture {
    max-width: 100%;
    margin-top: 5%;
}

/* article styling  */

.secondSection {
    margin: 5% 10%;
}

.secondSection h3 {
    color: #606060;
    font-weight: lighter;
    padding: 2% 0;
}

.secondSection h1 {
    color: #2a2a2a;
    font-weight: 500;
    padding: 2% 0;
    font-size: 2em;
}

.secondSection p {
    color: #2a2a2a;
    line-height: 1.3em;
    font-size: 1.1em;
}

#comment {
    margin-top: 5%;
    width: 100%;
    border: none;
    border-bottom: 1.5px solid white;
    font-size: 16px;
    height: 2em;
}

#comment:focus{
    outline: none;
    border-color: #9a21e0;
}

/* posts styling */

.thirdSection {
    margin: 5% 10%;
}

.two-post-container {
    display: flex;
    justify-content: space-between;
    height: 500px;
    margin-top: 10%;
}

.post {
    width: 45%;
}

.post h4{
    font-size: 16px;
    color: #606060;
    font-weight: lighter;
}

.post h1 {
    color: #2a2a2a;
    font-weight: 500;
    font-size: 2em;
}


.post p {
    color: #2a2a2a;
    line-height: 1.3em;
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post * {
    margin-top: 5%;
}

.post img {
    margin-top: 0;
}

.smallImage{
    width: 100%;
    height: 60%;
    display: block;
    object-fit: cover;
}

/* subscribe container styling */

/* aq ver chavsvi subscribe.png fieldshi */

.fourthSection {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    background-color: #bbb;
    margin: 10% 0;
    height: 300px;
}

#subscribe {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

#subscribe input:focus{
    outline: none;
}
 
#subscribe div.h1{
    height: 50%;
    margin-top: 1.5em;
}

#subscribe h1{
    padding: 5% 0;
    font-weight: 500;
    font-size : 2em;
}


#subscribe form button{
    position: absolute;
    right: 39.5%;
    border: none;
}

#subscribe form button:focus{
    outline: none;
}

#subscribe form button img{
    position: absolute;
    height: 20px;
    top: 10px;
}

#subscribe form input{
    width: 50%;
    background-color: #bbb;
    text-align: start;
    border: none;
    border-bottom: 1px solid black;
    height: 3em;
    margin-bottom: 4.6em;
}

/* two more posts */

.fifthSection{
    margin: 5% 10%;
}

/* load more button */

.sixthSection {
    margin: 10% 45%;
    width: 20%;
    align-content: center;
}

.loadMoreButton {
    background-color: white;
    border: 1px solid #2a2a2a;
    color: #606060;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
}
.loadMoreButton:focus{
    outline: none
}

/* footer */

footer {
    width: 100%;
    height: 100px;
    background-color: #bbb;
}

footer div.footer {
    display: flex;
    justify-content: space-between;
    margin: 0% 10%;
}

footer ul{
    height: 100%;
    list-style-type: none;
    display: flex;
    white-space: nowrap;
    padding-top: 40px;
}

.terms ul li {
    display: inline-block;
    padding-left: 20px;
}

.terms li a{
    color: black;
    
}